

{% load static %}
<style>
    body{
        background-size:cover;
    }

</style>
    <head>
    <link rel = "stylesheet" type="text/css" href = "{% static 'css/explanationBox.css' %}">
    <link rel = "stylesheet" type="text/css" href = "{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<body background={% static 'images/background.png' %}>    <div id = 'explanationBox'>
        <br>
        <h3>You are logged out!</h3>
        <br>
        <form action = "/" style="font-size: 140%">
            {% csrf_token %}
            <button class = "btn btn-primary btn-lg" type="submit">Click here to go to the main page</button>
        </form>

    </div>
</body>
